@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@plugin "flowbite/plugin";

@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import "flowbite/src/themes/default";
@source "../node_modules/flowbite";

body {
  background: linear-gradient(135deg, #000000, #000817);
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}
a:hover {
  text-decoration: none !important;
}
/* Styles for the dark theme form */
.container {
  color: #fff; /* White text */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  padding: 20px;
  flex-direction: column;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.form {
  background-color: #1a1a1a; /* Dark gray background for the form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  /* display: block; */
  margin-bottom: 5px;
  font-size: 1rem;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  background-color: #222;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
}

.input:focus {
  outline: none;
  border-color: #007bff;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.submit-btn:hover:enabled {
  background-color: #0056b3;
}

.error-message {
  color: #ff3d3d;
  margin-top: 10px;
  font-size: 1rem;
}
