@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@plugin "flowbite/plugin";

@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import "flowbite/src/themes/default";
@source "../node_modules/flowbite";

body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #3e2c00 0%, #0e0f11 40%, #0e0f11 100%);
  position: relative;
  background-repeat: no-repeat;
}

/* Grid Overlay */
/* Grid Overlay */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #ffffff26 1px, transparent 1px),
    linear-gradient(to bottom, #ffffff26 1px, transparent 1px);
  background-size: 50px 50px;
  pointer-events: none;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.25;
  transition: opacity 0.5s ease;
}

/* Fade effect when the grid is centered */
body:hover::before {
  opacity: 0.05; /* Make it even more transparent in the center */
}

a:hover {
  text-decoration: none !important;
}
/* Styles for the dark theme form */
.container {
  color: #fff; /* White text */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  padding: 20px;
  flex-direction: column;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.form {
  background-color: #1a1a1a; /* Dark gray background for the form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  /* display: block; */
  margin-bottom: 5px;
  font-size: 1rem;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  background-color: #222;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
}

.input:focus {
  outline: none;
  border-color: #e2b74a;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #e2b74a;
  color: white;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.submit-btn:hover:enabled {
  background-color: #e2b74a;
}

.error-message {
  color: #ff3d3d;
  margin-top: 10px;
  font-size: 1rem;
}

.sort_options {
  color: black !important;
}

.bg_yellow_dark {
  background-color: rgba(32, 22, 0, 0.126) !important;
}

.text_white {
  color: white !important;
}

.text_white p {
  color: white;
}


